@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap');

*{
    padding: 0;
    margin: 0;
}
body, html{
    overflow-x: hidden;   
    scroll-behavior: smooth;
}
header{
    background-color: #082673;
    color: white;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: background-color .4s;
    z-index: 4;
}
.logo{
    height: 40px;
    width: 62px;
    padding: 8px 4px 8px 30px;
    transition: visibility .1s;
    opacity: 1;
}
#checkbox-menu, .toggle{
    display: none;
}
.menu{
    list-style-type: none;
    display: flex;
    align-items: center; 
}
.menu li{
    width: 63px;
}
.menu li a{
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   padding: 6px 10px;
}
.activeLanguage{
    background-color: white;
    color: black;   
}
.notactiveLanguage{
    background-color: transparent;
    color: white;   
}
#closeNav{
    display: none;
}

main{
    margin-bottom: 10px;
}
.main {
    background-image: linear-gradient(rgba(52, 52, 52, 0.25),rgba(45, 45, 45, 0.25)),
                      url(./images/main.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 275px;
}
.main-container p{
    font-weight: 700;
    font-family: Arial, sans-serif;
    font-size: 44px;
    margin-bottom: 28px;
    letter-spacing: 1px
}
.main-container span{
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 23px;
}
.main-load-more{
    margin: 175px 0 35px 0;  
    padding: 10px 14px 17px 14px;
    border-radius: 35px;
    transition: background-color .4s;  
}
.main-load-more:active{
    background-color: rgba(0,0,0,0.2);
}
.main-load-more a div{
    z-index: 3;
    width: 13px;
    height: 13px;
    border-right: 4px solid rgba(255,255,255,0.4);
    border-bottom: 4px solid rgba(255,255,255,0.4);
    transform: rotate(45deg);
}
.main-load-more a div:hover{
    border-right: 4px solid rgba(255,255,255,0.7);
    border-bottom: 4px solid rgba(255,255,255,0.7);
}

.faq{
    margin: 0px 80px;
    color: #414141;
    transition: all .4s;
}
.collapsible {
    border-bottom-style: solid;
    color: #9e2629;
    font-family: 'Playfair Display', serif;
    font-size: medium;
    font-weight: 800;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border-bottom: 1px solid #082673;
    margin-top: 10px;  
}
.active, .collapsible:hover {
    background-color: #082673;
    color: #f1f1f1;
}
#search{
    font-size: 1rem;
    padding: 5px 10px;
    border: 1px solid #082673;
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
}
.faq-content {
    padding: 0px 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: #f1f1f1; 
}
.faq-content-question{
    margin-top: 15px;
    font-size: large;
    font-weight: bold;
}
.faq-content-answer{
    margin: 20px 16px;
    font-size: larger;
}
.faq-search-wrapper{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.hide {
    display: none;
}

.form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #f3f4f8;
}
.form p{
    color: #082673;
    text-align: center;
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 0 20px;
}
footer{
    background-color: #082673;
    height: 80px;
    width: 100%;
}

@media screen and (max-width: 770px){
    .toggle{
        display: block;
        clear: both;
        margin-right: 30px;
        font-size: 23px;
    }
    .rotate{
        animation: rotation 0.2s linear 0s 1;
    }
    @keyframes rotation {
        to {
          transform: rotate(150deg)
        }
    }
    #closeNav{
        display: block;
        font-size: 40px;
        margin-top: 5px;
        margin-left: 150px;
        text-align: end;   
    }
    #checkbox-menu:checked + label .touch{
        width: 250px;
    }
    #checkbox-menu:checked + label .navbar-back{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        transition: 0.3s;
    }
    #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .3s linear;
        margin-right: 10px;
    }
    .menu{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #082673;
        overflow-x: hidden;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
    }
    .menu li{
        margin: 10px -200px 10px 10px;
        text-align: end;
        padding-left: 60px;
        
    }
    .activeLanguage{
        background-color: transparent;
        color: white; 
        font-weight: 900;  
    }
    .faq{
        margin: 0px 30px;
    } 
}
 